TEMPORAL_ADDRESS=quickstartai-user-jpamufca.ocfse.tmprl.cloud:7233
TEMPORAL_NAMESPACE=quickstartai-user-jpamufca.ocfse
TEMPORAL_TASK_QUEUE=dreamnet-default
TEMPORAL_API_KEY_FILE_HOST=/home/nuc/.dreamnet-secrets/temporal/nuc-worker-api-key
